/* grid.css; defining grids for my site */

[class*='col-'] {
	float: left;
	padding: 0;
	text-align: center;
}



.grid:after {
	content: "";
	display: block;
	clear: both;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}





/* defining styles for our 3 column grid */

.col-1of7nav {
	width: 14%;
}

.col-1of7logo {
	width: 16%;
}

@media (max-width: 900px) {
	.col-1of7nav {
		width: 100%;
	}

	.col-1of7logo {
		display: none;
	}

	.bodycopy {
		width: 100%;
	}

	#page {
		width: 100%;
	}

	#navToggle {
		display: block;
	}
}

