/*STYLING OF ALL PAGES*/
@font-face{ 
	font-family: 'BebasNeue';
	src: url('BebasNeue-webfont.eot');
	src: url('BebasNeue-webfont.eot?#iefix') format('eot'),
	     url('BebasNeue-webfont.woff') format('woff'),
	     url('BebasNeue-webfont.ttf') format('truetype'),
	     url('BebasNeue-webfont.svg#BebasNeue') format('svg');
}
h2 {
	font-family: "BebasNeue";
}

body {
	font-family: "courier new";
}

h5 {
	font-family: "courier new";
	font-weight: lighter;
}

li {
	line-height: 1.5em;
}

#page {
	width: 80%;
	margin: 0 auto;
}

#topbar {
	border-style: solid;
	border-width: .5em;
}
#bottombar {
	float: right;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	background-color: black;
}

.bottomnav {
	text-decoration: none;
	color: white;
	font-size: .8em;
	margin: 1em;
}

a {
	text-decoration: none;
	color: #707070;
}

a:hover, a:active {
	color: black;
}

/*END OF STYLING OF ALL PAGES*/


/*STYLING OF THE NAVIGATION*/



nav a, nav a:visited {
font-family: "courier";
color: black;
text-decoration: none;

}

nav a:hover {
	color: #ffffff;
	transition: color 0.5s;
	-webkit-transition: color 0.5s;
}


.logolink {
	padding: 0;
	margin: 0;
	
}

.logoimg {
	width: 10em;
}

#navToggle {
	display: none;
	background-color: black;
	color: #ffffff;
	padding-top: .5em;
	padding-bottom: .4em;
	text-decoration: none;
	transition: background-color 0.5s;
	-webkit-transition: background-color 0.5s;
}

.mobilelogo {
	margin-left: .5em;
}

.arrow {
	float: right;
	padding: .4em 1em;
}

/*END OF STYLING OF THE NAVIGATION*/



/*STYLING OF INDEX.HTML*/

#carousel {
	text-align: center;
}

h2 {
	text-align: center;
}



.indeximg {
	max-width: 100%;
	margin-top: .5em;
}

.bodycopy {
	width: 60%;
	margin: auto;
}

.underline {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

/*END OF STYLING OF INDEX.HTML*/



/*STYLING OF PRODUCTS.HTML*/

.productimg {
	max-width: 100%;
	padding: .5em;
}



/*END OF STYLING OF PRODUCTS.HTML*/


/*STYLING OF PRODUCTS_LIST.HTML*/

.indprod {
	padding: 1em;
	height: 23em;
}

/*STYLING OF ITEM.HTML*/

.col2of5 blockquote {
	border-bottom: 5px solid #e0e0e0;
}
